html {
    box-sizing: inherit;
    
}

*,*::after,*::before {
    box-sizing: border-box;
    font-family: 'Potta One', cursive;
}

body {
    margin: 0;
    padding: 0;
    cursor: url(./images//hammer.png),default;
}

.background {
    background-image: url(./images/background.jpg);
    animation: loader 10s steps(1000) infinite;
}

.wrapper-background {
    overflow: auto;
    background-image: url(./images/background.jpg);
    background-repeat: repeat-x;
    width: 100%;
    height: 100%;
}

.level-wrapper {
    cursor: default;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

span {
    font-size: 4rem;
    padding: 40px 0;
}

.centring {
    border-radius: 20px;
    padding:  50px;
    display: flex;
    flex-flow: column wrap;
}

.win-wrapper {
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    background-color: #F0F0F0;
}



button {
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 3rem;
    border: none;
    transition: background-color 0.5s ease-out;

}

button:hover {
    background-color: black;
    color: white;
}

[class*="-container"] {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.hole-zone {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: 50%;

}

.hole-zone:nth-child(odd) {
    flex: 0 0 18%;
    justify-content:center;
    
}

.hole-zone:nth-child(even) {
    flex: 0 0 15%;
    justify-content: center;
}

#hole-0 {
   position: relative;
   left: 35%; 
}

#hole-1 {
    position: relative;
    left: 50%;
    top: 30%;
}

#hole-2 {
   position: relative;
   left: 11%;
   bottom: 30%; 
}

#hole-3 {
    position: relative;
    left: 60%;
    top: 10%;
}

#hole-4 {
    position: relative;
    left: 40%;
    bottom: 20%;
}

#hole-5 {
    position: relative;
    left: 10%;
    top: 10%;
}

.hide {
    display: none;
}

@keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -1280px;
  }
}

.score, .score-value {
    margin: 0 10px;
    padding: 0;
    font-size: 40px;
    justify-self: center;
}


.meter {
    background-image: url(./images/hearth.png);
}

.meter-container {
    display: flex;
    justify-content: space-between;
}


.combo {
    visibility:hidden;
    margin-right: 100px;
    width: 300px;
    height:200px;
}


@media screen and (max-width:860px ) {
    span {
        font-size: 3rem;
    }
    button {
        margin: 7px;
        border-radius: 7px;
        padding: 7px;
        font-size: 2rem;
    }
}

@media screen and (max-width: 724px) {
    span {
        font-size: 2.5rem;
        text-align: center;
    }
    .score,.score-value  {
 
        font-size: 2rem;
        
    }
   .combo {
       height: 100px;
       width: 150px;
   }
   .hamster {
       width: 80px;
       height: 80px;
   }
    
}

@media screen and (max-height:600px) {
    button {
        margin: 3px;
        font-size: 1.7rem;
    }
}

@media screen and (max-height:660px) {
    .wrapper-background {
        background-image: url(./images/background2.jpg);
        background-size: cover;
    }
    .meter {
        
    }
}

@media screen and (min-height: 970px) {
    .wrapper-background {
        background-size: cover;
    }
}